14-ps-ws-sample/src/main/resources/sample/userMessage.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://ws-boot.com/schemas/um"
                  targetNamespace="http://ws-boot.com/schemas/um">
    <wsdl:types>
        <xs:schema xmlns:um="http://ws-boot.com/schemas/um"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   elementFormDefault="qualified"
                   targetNamespace="http://ws-boot.com/schemas/um">


            <xs:element name="getUserRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="email" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="userType" type="um:userType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="userMessage">
                <xs:sequence>
                    <xs:element name="email">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:pattern value="[^@]+@[^\.]+\..+"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="rating" type="xs:double"/>
                    <xs:element name="userType" type="um:userType"/>
                </xs:sequence>
                <xs:attribute name="active" type="xs:boolean"/>
            </xs:complexType>


            <xs:simpleType name="userType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="OWNER"/>
                    <xs:enumeration value="SITTER"/>
                    <xs:enumeration value="BOTH"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getUserResponse">
        <wsdl:part element="tns:getUserResponse" name="getUserResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getUserRequest">
        <wsdl:part element="tns:getUserRequest" name="getUserRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="UsersPort">
        <wsdl:operation name="getUser">
            <wsdl:input message="tns:getUserRequest" name="getUserRequest">
            </wsdl:input>
            <wsdl:output message="tns:getUserResponse" name="getUserResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UsersPortSoap11" type="tns:UsersPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getUser">
            <soap:operation soapAction=""/>
            <wsdl:input name="getUserRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getUserResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UsersPortService">
        <wsdl:port binding="tns:UsersPortSoap11" name="UsersPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>